.chart-container {
  width: 100%;
  height: 400px;
}

.chart-container canvas {
  width: 100% !important;
  height: 100% !important;
}

.sales-table,
.books-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.sales-table th,
.sales-table td,
.books-table th,
.books-table td {
  border: 1px solid #999;
  padding: 8px;
}

.sales-table th,
.books-table th {
  background: #111;
  color: #fff;
  text-align: left;
}

@media (max-width: 768px) {
  .chart-container {
    height: 300px;
  }

  select {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    padding: 5px;
  }
}

select {
  width: auto;
  height: auto;
  display: block;
  overflow: hidden;
  padding: 5px;
}

.date-range-container {
  width: 100%;
  height: auto;
  display: block;
  overflow: hidden;
  text-align: center;
}

.date-range-container span {
  width: 10%;
  height: auto;
  display: inline-block;
  overflow: hidden;
  padding: 5px;
}

.date-range-container input {
  width: 45%;
  height: auto;
  display: inline-block;
  overflow: hidden;
  padding: 5px;
}
